.land {
	fill: #999;
	stroke-opacity: 1;
}

.graticule {
	fill: none;
	stroke: black;
	stroke-width: 0.5;
	opacity: 0.2;
}

.labels {
	font: 8px sans-serif;
	fill: black;
	opacity: 0.5;

	display: none;
}

.noclicks {
	pointer-events: none;
}

.point {
	opacity: 0.6;
}

.arcs > path.arc {
	fill: none;
	opacity: 0.8;
	stroke: orange;
	stroke-width: 3;
	stroke-linecap: round;
	stroke-linejoin: round;
}

g.marker-container > .marker {
	fill: #31558d;
	transition: fill-opacity 0.2s ease-in-out;
	fill-opacity: 0.75;
	pointer-events: visible !important;
}
g.marker-container:hover > .marker {
	fill: #8d3155;
	fill-opacity: 1;
	cursor: pointer;
}

g.marker-container > text.text {
	transition: fill-opacity 0.2s ease-in-out;
	font-size: 12px;
	fill: rgb(214, 214, 214);
	cursor: pointer;
}
