.App {
	text-align: center;
}

.App-header {
	text-align: left;
	font-size: calc(10px + 2vmin);
	color: #282c34;
	font-family: Crete Round;
	margin: 1.5rem auto 1rem 25px;
}

.year-slider-container {
	margin: -50px auto 1rem;
	max-width: 600px;
}

.w-100 {
	width: 100% !important;
}

div.svg-container > svg {
	border: 1px solid gray;
}
